[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-serializer = "*"
flask-sqlalchemy = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
marshmallow = "*"
pytest = "7.1.3"
sqlalchemy-serializer = "*"
flask-cors = "*"

[requires]
python_full_version = "3.10"
